<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<h3>Post:</h3>
<p><%= @post.description %></p>
<p><%= link_to @post.url, fix_url(@post.url) %></p>
<hr/>

<% @post.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>

<%= render 'comments/form' if logged_in? %>

<%= link_to 'return to posts index', posts_path %>